@import '../../../../../../../core/scss/vars';

.footer {
	background-color: $black;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 75px 0 120px;

	.list {
		margin-top: 100px;
	}

	.social {
		margin-top: 40px;
		margin-left: -60px;
	}
}