@import "src/core/scss/vars";


.content {
  a {
    font-family: $f-book;
    font-size: $fs-20;
    color: $white;
    border-bottom: 1px dashed $white;
    transition: all .3s;
    padding-bottom: 2px;
    width: fit-content;

    &:hover {
      color: $blue;
      border-color: $blue;
      border-bottom: 1px solid;
    }
  }
}