@import '../../../../../../core/scss/vars';

.text {
    padding: 15px 20px;
    background-color: $blue;
    border-radius: 10px 0 0 10px;
    transition: all .2s;

    &:hover {
        background-color: $white;
        color: $black;
    }
}