@import '../../../../../../../../../../../core/scss/vars';

.content {
    h2 {
        font-family: $f-book;
        font-size: $fs-48;
        padding-top: 28px;
        margin-top: 65px;
        margin-bottom: 32px;
        border-top: 1px solid $blue-dark-3;
    }
    h3 {
        font-family: $f-book;
        font-size: $fs-40;
        margin-top: 10px;
        margin-bottom: 22px;
    }
    p {
        font-family: $f-book;
        font-size: $fs-24;
        line-height: 35px;
        margin-bottom: 18px;
    }
    a {
        font-family: $f-book;
        font-size: $fs-24;
        color: $white;
        font-family: $f-book;
        border-bottom: 1px dashed $white;
        transition: all .3s;
        padding-bottom: 2px;
        width: fit-content;

        &:hover {
            color: $blue;
            border-color: $blue;
            border-bottom: 1px solid;
        }
    }

    img {
        
    }
}