@import '../../../core/scss/mixins/media';

.main {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    // margin-top: 140px;

    max-width: $elg-desktop-width;
    width: 100%;
    padding: 0 10px;

    min-height: 80vh;
}

.application {
    position: fixed;
    left: auto;
    right: 0;
    bottom: 50px;
}