@import '../../../../../../../../../../../../../../../../../core/scss/vars';

.list {
	display: flex;
	gap: 10px;
	padding: 10px;
	flex-direction: column;
	background-color: $blue-dark-2;
	border-radius: 10px;
}