@import "../../../../../scss/vars";
@import "../../../../../scss/mixins/media";

.text {
	font-size: $fs-96;
}

@include lg-desktop {
	.text {
		font-size: $fs-64;
	}
}

@include sm-tablets {
	.text {
		font-size: $fs-48;
	}
}